body {
    background: linear-gradient(#4cc9f0, #4361ee, #3a0ca3, #7209b7, #f72585);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

#Meme {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#Meme h2 {
    margin: 0;
    padding: 10px 0;
    font-size: 2em;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.bouttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.cart {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    margin-bottom: 20px;
}

.cart h3 {
    margin-bottom: 5px;
    font-size: 1em;
}

.cart img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cart button {
    padding: 10px 30px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(76, 21, 204);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
  button:hover {
    background-color: #270770;
}
  
  button:active {
    background-color: rgb(76, 21, 204);
    box-shadow: rgb(33, 5, 100) 0px 0px 0px 0px;
    transform: scale(0.80);
    transition: 50ms;
    animation: greentopBubbles 0.6s ease;
  }
  